:root {
    --color-white:      #F5F5F5;
    --color-light:      #C2F7FF;
    --color-main:       #505FEB;
    --color-secondary:  #333AA5;
    --color-accent:     #293097;
    --color-dark:       #202678;
    --color-black:      #202020;

    color: var(--color-white);
    background: var(--color-dark);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Goldman", sans-serif;
    user-select: none;
}

/* Main Tags */

html, body {
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin: 0px 15px 15px 0px;
    background-color: var(--color-dark);
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

strong, b {
    font-weight: 700;
}

i, em {
    font-weight: 400;
    font-style: italic;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 75px;
}

main section.content-row {
    display: none;
}

main section.content-row.active {
    display: flex;
}

main section.active {
    display: flex;
}

footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: var(--color-dark);
}

hr {
    width: 75%;
    border-color: var(--color-light);
}

/* Custom Tags */

.color {
    /* Define a cor usando sua variável */
    background-color: var(--color-white); 
    
    /* Cria uma máscara com a própria imagem */
    -webkit-mask-image: url(''); /* O src será injetado pelo HTML */
    mask-image: url('');
    
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 25px;
    width: 100%;
    max-width: 600px;
    background: linear-gradient(180deg, var(--color-secondary), var(--color-accent));
    border-radius: 15px;
}

.container img {
    max-width: 400px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 15px 15px 7px rgba(0,0,0,0.37);
}

.hoverZoom {
    transition: transform 0.1s ease, border-radius 0.3s ease;
}

.hoverZoom:hover {
    transform: scale(1.5);
    border-radius: 0px;
}

.containerBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    gap: 10px;
}

.dropbtn, .btnSection {
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
    padding: 0;
    background: var(--color-black);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.dropdown-content {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    text-align: center;
    flex-direction: column;
    margin-top: 8px;
    border: 1px solid var(--color-accent);
    border-radius: 12px;
    background: var(--color-dark);
    backdrop-filter: blur(10px);
    min-width: max-content;
    z-index: 10;
    overflow: hidden;
}

.dropdown-content.show {
    display: flex;
}

.dropdown-content a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.dropdown-content a:hover {
    background: var(--color-light);
    color: var(--color-black);
    cursor: default;
    user-select: none;
}

.dropdown-content a.active {
    background: var(--color-light);
    color: var(--color-black);
}

.censored {
    background-color: black;
    color: black;
}

.censored:hover {
    background-color: transparent;
    color: inherit;
}

.hide {
    color: white;
    text-decoration: none;
}

.animated-gradient {
    background: var(--color-main);
    background: linear-gradient(90deg, var(--color-main) 0%, var(--color-white) 25%, var(--color-light) 49%, var(--color-secondary) 75%, var(--color-dark) 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: flow 4s linear infinite;
}

@keyframes flow {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

.btnLabel {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.btnLabel a img {
    width: 75px;
    height: auto;
}

.btnLabel a:hover {
    background-color: var(--color-light);
    color: var(--color-black);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(140px, 1fr)); 
    justify-content: center;
    justify-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Mobile Settings */

@media screen and (orientation: portrait) {
    h1 {
        font-size: 25px;
    }

    header {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    button.dropbtn {
        padding: 0.25rem 0.5rem;
    }

    .size {
        max-width: 80%;
    }

    .gridBox {
        flex-direction: column;
        align-items: center;
    }

    .sectionContent, .sectionDescription {
        width: 90%;
        margin-bottom: 20px;
    }

    .container {
        max-width: 280px;
        margin: 0 auto;
    }

    .container img {
        width: 280px;
        height: auto;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Cria 4 colunas iguais */
        gap: 10px; /* Espaço entre as imagens */
        width: 100%;
        margin-bottom: 10px;
    }

    .gallery img {
        width: 100%; /* Faz a imagem preencher a coluna */
        height: auto;
        border-radius: 8px;
    }
}
